* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  background: black;
  color: white;
}

#game {
  height: 100vh;
  position: relative;
}

/* ESCRITÓRIO */
#office {
  height: 100%;
  background: #050505;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.door {
  width: 80px;
  height: 200px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

#openCams {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  padding: 10px;
}

/* CÂMERAS */
#cameras {
  position: absolute;
  inset: 0;
  background: #111;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#enemyStatus {
  color: #ff5555;
  margin-top: 10px;
}

#camControls button {
  font-size: 20px;
  margin: 10px;
}

/* HUD */
#hud {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: black;
}
#jumpscare {
  position: fixed;
  inset: 0;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#jumpscare img {
  width: 120%;
  max-width: none;
  animation: scareZoom 0.3s ease-in;
}

@keyframes scareZoom {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1.1);
  }
}
